{% extends 'base.html.twig' %}

{% block title %}
Bienvenue !
{% endblock title %}

{% block body %}

<div class="jumbotron text-center">
    <h1>Bienvenue</h1>
    <p>
        Louez votre bien sur notre site afin de gagner de l'argent rapidement et facilement !
    </p>
</div>

<div class="container">

</div>

{% endblock %}