{% extends 'base.html.twig' %}

{% block title %}
Modifier la catégorie
{% endblock title %}

{% block body %}

<h1>Modifier la catégorie</h1>
<div class="container mt-4">

    {{ form_start(form) }}
    {{ form_row(form) }}
    {{ form_end(form) }}

</div>

{% endblock %}