{% extends 'base.html.twig' %}

{% block title %}
Créer une catégorie
{% endblock title %}

{% block body %}

<h1>Créer une catégorie</h1>
<div class="container mt-4">
    {{ include('admin/category/_form.html.twig', {form: form, button: 'Ajouter'}) }}
</div>

{% endblock %}